<div id="settingsScreen" class="screen" style="">
	<i id="quitButton" class="gameButton fa fa-arrow-left"></i>

	<div class="control" style="top: 2rem; width:100%;">
		<div>Game Speed:</div>
	</div>

	<div id="decGameSpeedButton" class="menuButton" style="width: 4rem; top: 4rem; left: 3rem;">
		<div class="fa fa-minus">
		</div>
	</div>

	<input type="text" id="gameSpeedLabel" style="top: 4rem; left: 8rem;" />

	<div id="incGameSpeedButton" class="menuButton" style="width: 4rem; top: 4rem; left: 11rem;">
		<div class="fa fa-plus">
		</div>
	</div>

</div>